---
# yamllint disable rule:line-length
name: Grype Filesystem Scan
# yamllint disable-line rule:truthy
on:
  workflow_call:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.triggering_actor }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  scan:
    permissions:
      contents: read
    if: (github.triggering_actor != 'dependabot[bot]')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4.2.2

      - name: Disable pom.xml scanning
        run: |
          echo "exclude:" > .grype.yaml
          echo "  - './pom.xml'" >> .grype.yaml
          echo "  - './**/pom.xml'" >> .grype.yaml

      - name: Scan current project
        id: scan
        uses: anchore/scan-action@c35e932c2a7c572bfdb1c3dbcdadb2d4fc62418d # pin@v3
        with:
          path: "."
          output-format: sarif

      - uses: taiki-e/install-action@7b20dfd705618832f20d29066e34aa2f2f6194c2 # pin@v2
        if: ${{ always() }}
        with:
          tool: sarif-fmt

      - name: Output step summary
        if: ${{ always() }}
        run: |
          echo "**Grype Filesystem Scan Summary**" >> $GITHUB_STEP_SUMMARY
          echo '```text' >> $GITHUB_STEP_SUMMARY
          cat ${{ steps.scan.outputs.sarif }} | sarif-fmt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
