---
name: Build and Publish mdBook
on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: "."
        description: "working directory"
      book-directory:
        required: false
        type: string
        default: "book"
        description: "output directory for book"
      publish-gh-pages:
        required: false
        type: boolean
        default: true
        description: "flag to publish to Github pages"
      build-branch:
        required: false
        type: string
        default: "master"
        description: "git branch to build from"
      publish-branch:
        required: false
        type: string
        default: "gh-pages"
        description: "git branch for committing GitHub pages"
      mdbook-version:
        required: false
        type: string
        default: "0.4.21"
        description: "mdbook version"
      mdbook-graphviz-version:
        required: false
        type: string
        default: "0.1.6"
        description: "mdbook-graphviz version"
      mdbook-katex-version:
        required: false
        type: string
        default: "0.5.7"
        description: "mdbook-katex version"
      mdbook-linkcheck-version:
        required: false
        type: string
        default: "0.7.7"
        description: "mdbook-linkcheck version"
      mdbook-mermaid-version:
        required: false
        type: string
        default: "0.12.6"
        description: "mdbook-mermaid version"
      mdbook-open-on-gh-version:
        required: false
        type: string
        default: "2.4.1"
        description: "mdbook-open-on-gh version"
      mdbook-plantuml-version:
        required: false
        type: string
        default: "0.8.0"
        description: "mdbook-plantuml version"
      mdbook-toc-version:
        required: false
        type: string
        default: "0.14.1"
        description: "mdbook-toc version"
    secrets:
      ACCESS_TOKEN:
        required: true
        description: "Github access token"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.triggering_actor }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
        with:
          ref: ${{ inputs.build-branch }}

      - uses: taiki-e/install-action@f63c33fd96cc1e69a29bafd06541cf28588b43a4 # pin@v2
        with:
          tool: mdbook@${{ inputs.mdbook-version }}

      - uses: taiki-e/install-action@f63c33fd96cc1e69a29bafd06541cf28588b43a4 # pin@v2
        with:
          tool: mdbook-graphviz@${{ inputs.mdbook-graphviz-version }}

      - uses: taiki-e/install-action@f63c33fd96cc1e69a29bafd06541cf28588b43a4 # pin@v2
        with:
          tool: mdbook-katex@${{ inputs.mdbook-katex-version }}

      - uses: taiki-e/install-action@f63c33fd96cc1e69a29bafd06541cf28588b43a4 # pin@v2
        with:
          tool: mdbook-linkcheck@${{ inputs.mdbook-linkcheck-version }}

      - uses: taiki-e/install-action@f63c33fd96cc1e69a29bafd06541cf28588b43a4 # pin@v2
        with:
          tool: mdbook-mermaid@${{ inputs.mdbook-mermaid-version }}

      - uses: taiki-e/install-action@f63c33fd96cc1e69a29bafd06541cf28588b43a4 # pin@v2
        with:
          tool: mdbook-open-on-gh@${{ inputs.mdbook-open-on-gh-version }}

      - uses: taiki-e/install-action@f63c33fd96cc1e69a29bafd06541cf28588b43a4 # pin@v2
        with:
          tool: mdbook-plantuml@${{ inputs.mdbook-plantuml-version }}

      - uses: taiki-e/install-action@f63c33fd96cc1e69a29bafd06541cf28588b43a4 # pin@v2
        with:
          tool: mdbook-toc@${{ inputs.mdbook-toc-version }}

      # Build
      - name: Build mdBook
        run: mdbook build
        working-directory: "${{ inputs.working-directory }}"

      # Release
      - name: Zip book
        run: zip -r "${{ inputs.book-directory }}".zip "${{ inputs.book-directory }}"/*
        working-directory: "${{ inputs.working-directory }}"

      - name: Get git short hash
        run: |
          echo "hash=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # pin@v1.18.0
        with:
          artifacts: |
            ${{ inputs.working-directory }}/${{ inputs.book-directory }}.zip
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: "v${{ env.hash }}"
          commit: "${{ inputs.build-branch }}"

      # Deploy
      - name: Deploy
        if: ${{ inputs.publish-gh-pages }}
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # pin@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: "${{ inputs.publish-branch }}"
          publish_dir: "${{ inputs.working-directory }}/${{ inputs.book-directory }}"
