---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Trivy File System Audit
on:
  workflow_call:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.triggering_actor }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  trivy:
    if: (github.triggering_actor != 'dependabot[bot]')
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1

      - name: Run Trivy fs scan
        uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4 # pin@v0.32.0
        with:
          scan-type: "fs"
          hide-progress: false
          ignore-unfixed: true
          format: "table"
          output: "trivy-fs-results.txt"
          severity: "HIGH,CRITICAL"
          exit-code: 1

      - name: Output step summary
        if: ${{ always() }}
        run: |
          echo "**Trivy Filesystem Scan Summary**" >> $GITHUB_STEP_SUMMARY
          echo '```text' >> $GITHUB_STEP_SUMMARY
          cat trivy-fs-results.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
