---
name: Trunk Check
on:
  workflow_call:
    inputs:
      java-version:
        description: "Java version"
        default: ""
        required: false
        type: string
      terraform-version:
        description: "Terraform version"
        default: ""
        required: false
        type: string
      node-version:
        description: "Node version"
        default: ""
        required: false
        type: string
      python-version:
        description: "Python version"
        default: ""
        required: false
        type: string
      poetry-version:
        description: "Poetry version"
        default: ""
        required: false
        type: string
      install-deps-script:
        description: "Script to install dependencies"
        default: ""
        required: false
        type: string
    secrets:
      ACCESS_TOKEN:
        required: false
        description: "Github access token"
env:
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.triggering_actor }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  trunk:
    permissions:
      contents: read
      checks: write
    if: (github.triggering_actor != 'dependabot[bot]')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1

      - name: Set up Java
        if: ${{ inputs.java-version != '' }}
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # pin@v3
        with:
          java-version: ${{ inputs.java-version }}
          distribution: "adopt"
          cache: "maven"

      - name: Install Terraform
        if: ${{ inputs.terraform-version != '' }}
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # pin@v3.1.2
        with:
          terraform_version: ${{ inputs.terraform-version }}
          terraform_wrapper: false

      - name: Create Terraform Plugin Cache Dir
        if: ${{ inputs.terraform-version != '' }}
        run: mkdir --parents ${{ env.TF_PLUGIN_CACHE_DIR }}

      - name: Cache Terraform
        if: ${{ inputs.terraform-version != '' }}
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # pin@v4.3.0
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-${{ hashFiles('**/.terraform.lock.hcl') }}

      - name: Install Node
        if: ${{ inputs.node-version != '' }}
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # pin@v3
        with:
          node-version: ${{ inputs.node-version }}

      - name: Install Python & Poetry
        if: ${{ inputs.python-version != '' && inputs.poetry-version != '' }}
        uses: aps831/gh-actions/set-up-python@master
        with:
          python-version: ${{ inputs.python-version }}
          poetry-version: ${{ inputs.poetry-version }}

      - name: Install dependencies
        if: ${{ inputs.install-deps-script != '' }}
        run: ${{ inputs.install-deps-script }}
        env:
          GITHUB_USER_REF: ${{ github.actor }}
          GITHUB_TOKEN_REF: ${{ secrets.ACCESS_TOKEN && secrets.ACCESS_TOKEN || 'password' }}

      - name: Trunk Check
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # pin@v1.2.4
